.login-container .login-btn-container {
    width: 230px;
    margin: 30px auto;
}

.container {
    width: 800px;
}

.container h1 {
    text-align: center;
    font-size: 50px;
    margin: 100px auto 70px;
}

.login-container h2 {
    margin-left: 130px;
}

.editable-input .input-medium {
    height: 15px;
}

.editable-buttons button {
    height: 35px;
}


.editable-buttons button i {
    background-position-y: -1px;
}

#job-status-text.job-running {
    color: #2ecc71;
}

#job-status-text.job-stopping {
    color: #e74c3c;
}

.info-list {
    margin-left: 0;
}

.info-list ul {
    margin-top: 65px;
}

.user-info img {
    margin-left: 50px;
}
