{% extends "base.html" %}
{% block head_extras %}
<link rel="stylesheet" href="/static/css/bootstrap-editable.css" />
{% endblock %}
{% block content %}
<div class="home-container">
    <div class="row">
        <div class="span3 offset3 user-info">
            <h2>Hi, {{uname}}同学</h2>
            <img src="{{avatar}}" alt="{{uname}}的头像" />
        </div>
        <div class="span4 info-list">
            <ul>
                <li>
                    <span>当前来访数：{{visit_count}}</span>
                </li>
                <li>
                    <span>当前的目标：<span id="target-num">{{target}}</span></span>
                    <a href="javascript:void(0)" id="set-target-btn">(修改)</a>
                </li>
                <li id="job-status-container">
                    <span>运行的状态：</span>
                    <span id="job-status-text"></span>
                    <a id="job-status-set-btn" href="javascript:void(0)"></a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        {% if target %}
        window.current_target = {{target}};
        {% endif %}
        window.visit_count = {{visit_count}};
    </script>
</div>

<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
{% endblock %}
